name: performance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: "workflow = ${{ github.workflow }}, ref = ${{ github.event.ref }}, pr = ${{ github.event.pull_request.id }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.repository != 'alibaba/code-data-share-for-python' }}

jobs:
  perf-import:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1
      - run: conda --version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install nox pyperf
      - name: Perf importing third-party packages
        run: |
          sh scripts/perf_import.sh
